body{
    font-family: 'Cabin Sketch', cursive;
    font-size: 15px;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    
}
.js-button{
    font-weight: bold;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid grey;
}

.js-button:hover{
    background-color: #ded9d9;
    border: 2px solid green;
}

@keyframes blinkText{
    0% {
        color:#ffffff;
    }
    20%{
        color:#a1a1a1;
    }
    40%{
        color:#858383
    }
    60%{
        color:#595858
    }
    80%{
        color:#3b3b3b;
    }
    100%{
        color:black;
    }

}

div.blink{
    animation-name: blinkText;
    animation-duration: 2.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}